.containerQustion{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 85%;
}
.tableauQuestion{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
.case{
  width: 20%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.mainMenu{
  display: flex;
  background-color: white;
  padding: 1%;

}
.linkMenu{
  margin-top: auto;
  margin-bottom: auto;

}
.onelink{
  padding-left: 10%;
  padding-right: 10%;
}