$bluecolore: #00AEEF;
$yellowcoloreFonce: #FECF39;
$yellowcoloreClaire: #FFDF6D;
$graycolore: #EFF3F6;
$pinkcolore: #DBDBDB;
$purplecolore: #DBDBDB;
$graycolorefonce: #DBDBDB;
$browncolore: #DBDBDB;
$greencoloreClaire: #74C7A8;
$greencoloreBtn: #26B10F;
$greencoloreFonce: #00797A;