@import "variable";
@import "article";
@import "login";
@import "main";
@import "structure";
@import "user";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

h1{
  font-size: 32px;
  line-height: 44px;
  color: #393C3E;
  font-family: 'Source Sans Pro Semibold'
}
h2{
  font-size: 22px;
  line-height: 32px;
  font-family: "Source Sans Pro";


}
h3{
  font-size: 20px;
  line-height: 28px;
  font-family: "Source Sans Pro Regular";

}
p{
  font-size: 16px;
  line-height: 24px;
  color: #71787E;
}


hr{
  size: 1px;
  color: black;
}




Article {
  background-color: white;
  border: solid 1px;
  width: 100%;
}


body{
  background-color: $graycolore;
}















