html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    color: #242424;
    border-top: 0.5rem solid #66CC33;
}

a {
    color: #66CC33;
}

a:hover,
a:focus {
    color: #499e1f;
}

header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1,
h2 {
    line-height: 1.2;
    font-weight: 700;
}

h1 {
    font-size: 2.4rem;
    margin: 2rem 0 4rem 0;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

article ul,
footer {
    font-size: 0.9rem;
}

article ul,
footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

article li,
footer li {
    margin-right: 0.5rem;
}

article {
    margin-bottom: 4rem;
}

article ul {
    margin-bottom: 2rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

input,
textarea {
    display: block;
    font: inherit;
    color: inherit;
    width: 100%;
    border: 1px solid #dadada;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}

textarea {
    resize: none;
    min-height: 120px;
}

button {
    font: inherit;
    color: #fff;
    background-color: #65cc33;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #499e1f;
}
