extends ../layout
block main
    form(method="post")
        img(src="/img/send.png" id="send")
        div(class="log")
            div(class="restoflog")
                div(class="logTitle")
                    h2(class="logTitle2") Welcome back! Please login.
                div(class="containLog")
                    label(for="fullname") Full name
                    input(id="fullname", name="fullname", type="text", placeholder="John Doe")
                    label(for="email") Email
                    input(id="email", name="username", type="email", placeholder="john.doe@gmail.com")
                    label(for="password") Password
                    input(id="password", name="password", type="password", placeholder="******")
                    button(type="submit") Sign up
block footer
