extends ../../layout
block main
    div(class="containerQustion")
        form(method="post")
            label(for="title") Title
            input(id="title", name="title", type="text", placeholder="Breaking news in the IT world")
            label(for="content") Content
            br
            textarea(id="content", name="content", placeholder="A new technology, recently introduced by...")
            button(type="submit") Post
